@import "compass";

body{
	font-family:arial;
}

.boxes-container{
	width:700px;
	margin:0 auto;
}

.box{
	background-color: #a0b094;
	@include border-radius(5px);
	margin-bottom:10px;

	.box-header,.box-content{
		padding:10px;
	}

	.box-footer{
		display:none;
	}
}